/* Login.css-ல் உள்ள அதே Styles-ஐ இதிலும் பயன்படுத்தவும் */
@import url('./login.css');

.signup-card {
  border-radius: 15px;
  overflow: hidden;
}

.err{
  color: red;
  font-size: 15px;
}
.success{
  color: green;
}
.load{
  position: absolute;
  /* left: 100px; */
}